.pomodoro__wrapper {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 600px;
}

.pomodoro__wrapper h2 {
  font-size: 24px;
  text-align: center;
}

.pomodoro__wrapper .controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pomodoro__wrapper button {
  border: none;
  cursor: pointer;
  color: #000;
  margin: 20px auto;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/131442/tomato.svg);
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  background-color:transparent;
}

.pomodoro__wrapper .details {
  margin: 20px 0;
}

.hidden {
  display: none;
}

.working .pomodoro__wrapper button {
  background: black;
  color: #fff;
}
