* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #499354;
  transition: background-color 300ms ease-in-out;
  line-height: 1.5
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.working {
  background: #ff6347de;
}






