* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --breakpoint-mb-small: 576px;
  --breakpoint-mb: 768px;
  --breakpoint-mb-large: 992px;
  --breakpoint-desk: 1368px;
}

html {
  font-size: 100%;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-family: 'Jomhuria', cursive;
  background: #499354;
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
  font-size: 2rem;
}

button {
  font-family: 'Jomhuria', cursive;
  font-size: 1.5rem;
}

.working {
  background: #ff6347de;
}
